{:source-paths ["src/cljs"]
 :dependencies [[reagent "0.10.0"]
                [org.clojars.frozenlock/reagent-keybindings "1.0.2"]
                [toyokumo/semantic-ui-reagent "0.1.0"]]
                
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:main {:init-fn threatmodeler.core/main!}}}}}

