.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;

}



#graph-area {
  background-size: 25px 25px;
  background-image:
    linear-gradient(to right, #efefef 1px, transparent 1px),
    linear-gradient(to bottom, #efefef 1px, transparent 1px);
  height: 100%;
}
    

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}


.diagram-threat-model-element {
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    /*Include borders in width calculations*/
    box-sizing: border-box;

}

.diagram-threat-model-element p {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.diagram-threat-model-element.line:hover {
    background-color: red;
}




.diagram-process {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    /*background: yellow;*/
    border: 3px solid red;
}

.diagram-actor {
    width: 100px;
    height: 50px;
    /*background: yellow;*/
    border: 3px solid red;
}

.diagram-datastore {
    width: 100px;
    height: 50px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.diagram-boundary {
    width: 100px;
    height: 10px;
    border-top: 3px dashed black;
}

#graph-area, #threat-input-area {
    display: inline-block;
    width: 49%;
    float: left;
}
    

#diagram {
    position: relative;
}


#threat-input-area {
    border-left: 3px solid green;
    box-sizing: border-box;
    height: 100%;
    padding-left: 5px;
}


#threats-for .section-label {
    padding: 0px;
    margin: 0px;

}

#threats-for .threat-name {
    margin-top: 0px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}


.checklist-with-header h5 {
    padding: 0px;
    margin: 0px;
}

.checklist-with-header ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0px;
}
    
.checklist-with-header ul li  {
    list-style-type: none;
}

.checklist-with-header label {
    padding-left: 10px;
}


