.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 640px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}


.diagram-threat-model-element {
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    /*Include borders in width calculations*/
    box-sizing: border-box;
}

.diagram-threat-model-element p {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.diagram-process {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    /*background: yellow;*/
    border: 3px solid red;
}

.diagram-actor {
    width: 100px;
    height: 50px;
    /*background: yellow;*/
    border: 3px solid red;
}

.diagram-datastore {
    width: 100px;
    height: 50px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

